.count-container {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
}

/* Upper Boxes */
.box, .box1, .box-summary {
    flex-grow: 1;
    width: 100%;
    /* height: 170px; */
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(66, 185, 194, 0.2);
}
.chartTitle {
    margin-bottom: 20px;
    color: var(--primary);
}
.box-statistics {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color: white;
}

.box1 {
    padding: 15px;
    background-image: url(./media/wave-design.svg), linear-gradient(var(--accent), #2e9b8c);
    background-position: center calc(100% - 0.0001px);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 31.6 / 17;

}

.box {
    padding: 15px;

    background-image: url(./media/wave-design2.svg), linear-gradient(var(--white), #b3e7df);
    background-position: center calc(100% - 0.0001px);
    background-repeat: no-repeat;
    background-size: contain;
    aspect-ratio: 31.6 / 17;
}

@media screen and (max-width: 870px) {
    .sum-boxes {
        display: flex;
        flex-wrap: wrap;
    }
    .box1, .box {
        margin-bottom: 10px;
        height: fit-content;
        aspect-ratio: 53 / 9;

        background-image: linear-gradient(var(--accent), #2e9b8c);
    }
    .box {
        background-image: linear-gradient(var(--white), #b3e7df);
    }
}

/* Summary Tables */
.box-summary {
    background-color: white;
    box-shadow: none;
    height: 100%;
    margin-bottom: 10px;
}
@media screen and (max-width: 960px) {
    .sum-tables {
        display: flex;
        flex-direction: column;
    }
}

.box-body-header {
    text-align: center;
    padding: 2%;
    border-radius: 5px 5px 0 0;
}

.textColor {
    color: var(--blackTextColor);
}

.box-body-header h4 {
    margin-bottom: 0;
    color: white;
}

.box-body-header p {
    margin-bottom: 5px;
    color: var(--inputBG);
}



.box:nth-child(4), .box-summary:nth-child(2){
    margin-right: 0px;
}

/* BOX1 CSS TEXT */
.box1-top-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    color: white;
}

.box1-middle-heading {
    font-size: 35px;
    font-weight: normal;
    margin-top: 10px;
    color: white;
}

.box1-bottom-heading {
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

/* BOX CSS TEXT */
.box-top-heading {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    color: var(--blackTextColor);
}

.box-middle-heading {
    font-size: 35px;
    font-weight: normal;
    margin-top: 10px;
    color: var(--blackTextColor);
}

.box-bottom-heading {
    margin-bottom: 0 !important;
    font-size: 18px;
    font-weight: 600;
    color: var(--blackTextColor);
}


.item-count-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.item-count-container {
    font-weight: 700;
}

.count-box {
    justify-items: center;
    text-align: center;
}

.bold {
    font-size: 20px;
    font-weight: 900;
}