.Admin {
    background-color: #a52c2c !important;
}
.Location {
    background-color: #696b7e !important;
}
.Permissions {
    background-color: #f1bc0b !important;
}
.Auth {
    background-color: #c45b0a !important;
}
.Role {
    background-color: #e63400 !important;
}
.Contact-Tracing-Logs {
    background-color: #41222a !important;
}
.Dashboard {
    background-color: #383838 !important;
}
.Admin-Application-Download {
    background-color: #5f42aa !important;
}
.Visitation-History {
    background-color: #506432 !important;
}
.Users {
    background-color: #0a887b !important;
}
.Statistics {
    background-color: #80003a !important;
}