.deleteModalTitle, .deleteLocationName {
    color: var(--red) !important;
    font-weight: 700;
}

.editModalTitle, .addModalTitle {
    color: white;
    font-weight: 700;
}
.modal-header-bg{
    background-color: var(--primary);
}
.content-center-modal {
    padding: 0 1%;
}

.form-notice {
    font-size: 13px;
    color: rgb(97, 95, 95);
    margin-bottom: 0;
}

.wide-modal-title {
    padding-left: 1%;
}

.small-input{
    width: 60px;
}
.full-page-modal-save-button {
    width: 200px;
}