
.homeNav {    
    height: 70px;
    width: 100%;
    min-width: calc(500px + 10%); /* to match the min-width of the table */
    padding: 10px 5%;
    background-color: var(--primary);
    box-shadow: 0 10px 10px rgba(42, 116, 159, 0.2);
    position: sticky;
    top: 0;
}

.homeNav {
    font-weight: 600;
    color: var(--white);
    margin-bottom: 0;
}

.nav-link {
    color: var(--white) !important;
}

.collapse:not(.show) {
    display: flex;
    justify-content: flex-end !important;
}
