* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home Common Parts Custom Style */
.container {
  width:100vw;
  height:100vh;
  background-color: #eaeaea;
  display: flex;
}
.homeWrapper {
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
}

/* Input Custom Style */
.inputStyle {
  height: 30px;
  width: 100%;

  padding-left: 8px;
  margin: 5px 0;
  background-color: #dadada;

  border: none;
  border-radius: 5px;
}
.inputStyle:focus {
  outline: none !important;
  border: 1px solid rgb(42, 115, 157);
}
/* Button Custom Style */
.primaryBlockBtn {
  height: 35px;
  width: 100%;

  margin: 10px 0;
  background-color: #2a749f;
  color: #ffffff;
  font-weight: 600;

  border: none;
  border-radius: 5px;
}
.secondaryBtn {
  height: 35px;
  width: fit-content;

  margin: 10px 0;
  background-color: #edf5fa;
  color: #2a749f;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;

  border: none;
  border-radius: 5px;
}
